body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1384px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:1417px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11920 {
  position:absolute;
  left:0px;
  top:102px;
  width:1342px;
  height:1417px;
}
#u11921 {
  position:absolute;
  left:2px;
  top:700px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11922 {
  position:absolute;
  left:284px;
  top:102px;
}
#u11922_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11922_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:1174px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11923 {
  position:absolute;
  left:0px;
  top:169px;
  width:1020px;
  height:1174px;
}
#u11924 {
  position:absolute;
  left:2px;
  top:579px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11925 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:118px;
}
#u11926 {
  position:absolute;
  left:2px;
  top:51px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11927 {
  position:absolute;
  left:21px;
  top:25px;
  width:99px;
  height:16px;
}
#u11928 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u11929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u11929 {
  position:absolute;
  left:120px;
  top:22px;
  width:142px;
  height:23px;
  font-size:12px;
  color:#199ED8;
}
#u11930 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u11931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u11931 {
  position:absolute;
  left:21px;
  top:72px;
  width:80px;
  height:23px;
  font-size:12px;
  color:#999999;
}
#u11932 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u11933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u11933 {
  position:absolute;
  left:0px;
  top:59px;
  width:1020px;
  height:1px;
}
#u11934 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u11936 {
  position:absolute;
  left:0px;
  top:169px;
  width:1100px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u11937 {
  position:absolute;
  left:20px;
  top:26px;
  width:1078px;
  word-wrap:break-word;
}
#u11938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u11939 {
  position:absolute;
  left:780px;
  top:124px;
  width:240px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u11940 {
  position:absolute;
  left:10px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u11941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u11941 {
  position:absolute;
  left:980px;
  top:124px;
  width:40px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u11942 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u11943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11943 {
  position:absolute;
  left:69px;
  top:251px;
  width:71px;
  height:16px;
}
#u11944 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11945 {
  position:absolute;
  left:412px;
  top:251px;
  width:29px;
  height:16px;
}
#u11946 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11947 {
  position:absolute;
  left:712px;
  top:251px;
  width:43px;
  height:16px;
}
#u11948 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u11950 {
  position:absolute;
  left:69px;
  top:285px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u11951 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u11952 {
  position:absolute;
  left:69px;
  top:311px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u11953 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u11954 {
  position:absolute;
  left:139px;
  top:310px;
  width:15px;
  height:21px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u11955 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u11956 {
  position:absolute;
  left:156px;
  top:312px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u11957 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u11958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u11959 {
  position:absolute;
  left:412px;
  top:285px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u11960 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u11961 {
  position:absolute;
  left:412px;
  top:311px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u11962 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u11963 {
  position:absolute;
  left:482px;
  top:310px;
  width:15px;
  height:21px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u11964 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u11965 {
  position:absolute;
  left:499px;
  top:312px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u11966 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u11967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u11967 {
  position:absolute;
  left:712px;
  top:285px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u11968 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u11969 {
  position:absolute;
  left:712px;
  top:311px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u11970 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u11971 {
  position:absolute;
  left:782px;
  top:310px;
  width:15px;
  height:21px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u11972 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u11973 {
  position:absolute;
  left:799px;
  top:312px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u11974 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u11975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u11975 {
  position:absolute;
  left:21px;
  top:364px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u11976 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u11977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u11978 {
  position:absolute;
  left:376px;
  top:427px;
  width:150px;
  height:150px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11979 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u11980 {
  position:absolute;
  left:376px;
  top:427px;
  width:150px;
  height:150px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11981 {
  position:absolute;
  left:69px;
  top:30px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u11982 {
  position:absolute;
  left:378px;
  top:430px;
  width:150px;
  height:150px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11983 {
  position:absolute;
  left:69px;
  top:30px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u11984 {
  position:absolute;
  left:391px;
  top:442px;
  width:120px;
  height:120px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:32px;
}
#u11985 {
  position:absolute;
  left:2px;
  top:44px;
  width:116px;
  word-wrap:break-word;
}
#u11986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u11987 {
  position:absolute;
  left:75px;
  top:424px;
  width:150px;
  height:150px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11988 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u11989 {
  position:absolute;
  left:75px;
  top:424px;
  width:150px;
  height:150px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11990 {
  position:absolute;
  left:69px;
  top:30px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u11991 {
  position:absolute;
  left:77px;
  top:427px;
  width:150px;
  height:150px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11992 {
  position:absolute;
  left:69px;
  top:30px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u11993 {
  position:absolute;
  left:90px;
  top:439px;
  width:120px;
  height:120px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:32px;
}
#u11994 {
  position:absolute;
  left:2px;
  top:44px;
  width:116px;
  word-wrap:break-word;
}
#u11995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u11996 {
  position:absolute;
  left:677px;
  top:421px;
  width:150px;
  height:150px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11997 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u11998 {
  position:absolute;
  left:677px;
  top:421px;
  width:150px;
  height:150px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11999 {
  position:absolute;
  left:69px;
  top:30px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u12000 {
  position:absolute;
  left:679px;
  top:424px;
  width:150px;
  height:150px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12001 {
  position:absolute;
  left:69px;
  top:30px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u12002 {
  position:absolute;
  left:692px;
  top:436px;
  width:120px;
  height:120px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:32px;
}
#u12003 {
  position:absolute;
  left:2px;
  top:44px;
  width:116px;
  word-wrap:break-word;
}
#u12004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u12004 {
  position:absolute;
  left:65px;
  top:598px;
  width:12px;
  height:12px;
}
#u12005 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12006 {
  position:absolute;
  left:87px;
  top:596px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u12007 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u12008 {
  position:absolute;
  left:157px;
  top:599px;
  width:12px;
  height:12px;
}
#u12009 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12010 {
  position:absolute;
  left:179px;
  top:597px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u12011 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12012 {
  position:absolute;
  left:65px;
  top:636px;
  width:946px;
  height:60px;
}
#u12013 {
  position:absolute;
  left:2px;
  top:22px;
  width:942px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12014 {
  position:absolute;
  left:117px;
  top:658px;
  width:29px;
  height:16px;
}
#u12015 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12016 {
  position:absolute;
  left:270px;
  top:658px;
  width:29px;
  height:16px;
}
#u12017 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12018 {
  position:absolute;
  left:423px;
  top:658px;
  width:43px;
  height:16px;
}
#u12019 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12020 {
  position:absolute;
  left:591px;
  top:658px;
  width:57px;
  height:16px;
}
#u12021 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12022 {
  position:absolute;
  left:772px;
  top:658px;
  width:29px;
  height:16px;
}
#u12023 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12024 {
  position:absolute;
  left:925px;
  top:658px;
  width:29px;
  height:16px;
}
#u12025 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:505px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u12026 {
  position:absolute;
  left:20px;
  top:814px;
  width:991px;
  height:505px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u12027 {
  position:absolute;
  left:20px;
  top:20px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(4, 173, 194, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#04ADC2;
}
#u12029 {
  position:absolute;
  left:21px;
  top:814px;
  width:148px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#04ADC2;
}
#u12030 {
  position:absolute;
  left:20px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u12031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12032 {
  position:absolute;
  left:169px;
  top:814px;
  width:842px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12033 {
  position:absolute;
  left:20px;
  top:25px;
  width:820px;
  word-wrap:break-word;
}
#u12034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12034 {
  position:absolute;
  left:72px;
  top:905px;
  width:29px;
  height:16px;
}
#u12035 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12036 {
  position:absolute;
  left:202px;
  top:905px;
  width:29px;
  height:16px;
}
#u12037 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12038 {
  position:absolute;
  left:333px;
  top:905px;
  width:29px;
  height:16px;
}
#u12039 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12040 {
  position:absolute;
  left:463px;
  top:905px;
  width:43px;
  height:16px;
}
#u12041 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12042 {
  position:absolute;
  left:608px;
  top:905px;
  width:57px;
  height:16px;
}
#u12043 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12044 {
  position:absolute;
  left:767px;
  top:905px;
  width:57px;
  height:16px;
}
#u12045 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12046 {
  position:absolute;
  left:925px;
  top:905px;
  width:29px;
  height:16px;
}
#u12047 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11922_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u11922_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12048 {
  position:absolute;
  left:0px;
  top:174px;
  width:1020px;
  height:513px;
}
#u12049 {
  position:absolute;
  left:2px;
  top:248px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12050 {
  position:absolute;
  left:0px;
  top:48px;
  width:1020px;
  height:118px;
}
#u12051 {
  position:absolute;
  left:2px;
  top:51px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u12052 {
  position:absolute;
  left:10px;
  top:0px;
  width:232px;
  height:51px;
  color:#199ED8;
}
#u12053 {
  position:absolute;
  left:2px;
  top:18px;
  width:228px;
  word-wrap:break-word;
}
#u12054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12054 {
  position:absolute;
  left:21px;
  top:73px;
  width:99px;
  height:16px;
}
#u12055 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u12056 {
  position:absolute;
  left:120px;
  top:70px;
  width:142px;
  height:23px;
  font-size:12px;
  color:#199ED8;
}
#u12057 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u12058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12058 {
  position:absolute;
  left:21px;
  top:120px;
  width:80px;
  height:23px;
  font-size:12px;
  color:#999999;
}
#u12059 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u12060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12060 {
  position:absolute;
  left:21px;
  top:197px;
  width:57px;
  height:16px;
}
#u12061 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u12062 {
  position:absolute;
  left:0px;
  top:107px;
  width:1020px;
  height:1px;
}
#u12063 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12064 {
  position:absolute;
  left:30px;
  top:105px;
  width:229px;
  height:640px;
}
#u12065 {
  position:absolute;
  left:2px;
  top:312px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:61px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u12067 {
  position:absolute;
  left:30px;
  top:106px;
  width:208px;
  height:61px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u12068 {
  position:absolute;
  left:50px;
  top:24px;
  width:156px;
  word-wrap:break-word;
}
#u12069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u12069 {
  position:absolute;
  left:54px;
  top:134px;
  width:15px;
  height:14px;
}
#u12070 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12077 {
  position:absolute;
  left:30px;
  top:155px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12078 {
  position:absolute;
  left:50px;
  top:9px;
  width:179px;
  word-wrap:break-word;
}
#u12079 {
  position:absolute;
  left:30px;
  top:195px;
  width:229px;
  height:40px;
  overflow:hidden;
}
#u12079_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12079_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u12084 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u12085 {
  position:absolute;
  left:50px;
  top:9px;
  width:177px;
  word-wrap:break-word;
}
#u12079_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12079_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12090 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12090_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12090.mouseOver {
}
#u12091 {
  position:absolute;
  left:50px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
