body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1342px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:1417px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11835 {
  position:absolute;
  left:0px;
  top:102px;
  width:1342px;
  height:1417px;
}
#u11836 {
  position:absolute;
  left:2px;
  top:700px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11837 {
  position:absolute;
  left:284px;
  top:102px;
}
#u11837_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11837_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11838 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:756px;
}
#u11839 {
  position:absolute;
  left:2px;
  top:370px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11841_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:210px;
  height:44px;
}
#u11841 {
  position:absolute;
  left:79px;
  top:19px;
  width:206px;
  height:40px;
}
#u11842 {
  position:absolute;
  left:2px;
  top:12px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11843 {
  position:absolute;
  left:40px;
  top:31px;
  width:29px;
  height:16px;
}
#u11844 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11846 {
  position:absolute;
  left:947px;
  top:17px;
  width:45px;
  height:45px;
}
#u11847 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11848 {
  position:absolute;
  left:954px;
  top:24px;
  width:30px;
  height:30px;
}
#u11849 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11850 {
  position:absolute;
  left:10px;
  top:86px;
  width:1001px;
  height:60px;
}
#u11851 {
  position:absolute;
  left:2px;
  top:22px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11852 {
  position:absolute;
  left:49px;
  top:108px;
  width:43px;
  height:16px;
}
#u11853 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11854 {
  position:absolute;
  left:181px;
  top:108px;
  width:42px;
  height:16px;
}
#u11855 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u11856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11856 {
  position:absolute;
  left:748px;
  top:108px;
  width:57px;
  height:16px;
}
#u11857 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11858 {
  position:absolute;
  left:894px;
  top:108px;
  width:89px;
  height:16px;
}
#u11859 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u11860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11861_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:210px;
  height:44px;
}
#u11861 {
  position:absolute;
  left:386px;
  top:19px;
  width:206px;
  height:40px;
}
#u11862 {
  position:absolute;
  left:2px;
  top:12px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11863 {
  position:absolute;
  left:335px;
  top:31px;
  width:42px;
  height:16px;
}
#u11864 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u11865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11866_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:210px;
  height:44px;
}
#u11866 {
  position:absolute;
  left:704px;
  top:19px;
  width:206px;
  height:40px;
}
#u11867 {
  position:absolute;
  left:2px;
  top:12px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11868 {
  position:absolute;
  left:643px;
  top:31px;
  width:57px;
  height:16px;
}
#u11869 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11870 {
  position:absolute;
  left:311px;
  top:108px;
  width:57px;
  height:16px;
}
#u11871 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11872 {
  position:absolute;
  left:457px;
  top:108px;
  width:57px;
  height:16px;
}
#u11873 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11874 {
  position:absolute;
  left:603px;
  top:108px;
  width:57px;
  height:16px;
}
#u11875 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11837_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u11837_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11876 {
  position:absolute;
  left:0px;
  top:174px;
  width:1020px;
  height:513px;
}
#u11877 {
  position:absolute;
  left:2px;
  top:248px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11878 {
  position:absolute;
  left:0px;
  top:48px;
  width:1020px;
  height:118px;
}
#u11879 {
  position:absolute;
  left:2px;
  top:51px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u11880 {
  position:absolute;
  left:10px;
  top:0px;
  width:232px;
  height:51px;
  color:#199ED8;
}
#u11881 {
  position:absolute;
  left:2px;
  top:18px;
  width:228px;
  word-wrap:break-word;
}
#u11882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11882 {
  position:absolute;
  left:21px;
  top:73px;
  width:99px;
  height:16px;
}
#u11883 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u11884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u11884 {
  position:absolute;
  left:120px;
  top:70px;
  width:142px;
  height:23px;
  font-size:12px;
  color:#199ED8;
}
#u11885 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u11886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u11886 {
  position:absolute;
  left:21px;
  top:120px;
  width:80px;
  height:23px;
  font-size:12px;
  color:#999999;
}
#u11887 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u11888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11888 {
  position:absolute;
  left:21px;
  top:197px;
  width:57px;
  height:16px;
}
#u11889 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u11890 {
  position:absolute;
  left:0px;
  top:107px;
  width:1020px;
  height:1px;
}
#u11891 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11892 {
  position:absolute;
  left:30px;
  top:105px;
  width:229px;
  height:640px;
}
#u11893 {
  position:absolute;
  left:2px;
  top:312px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:61px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u11895 {
  position:absolute;
  left:30px;
  top:106px;
  width:208px;
  height:61px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u11896 {
  position:absolute;
  left:50px;
  top:24px;
  width:156px;
  word-wrap:break-word;
}
#u11897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u11897 {
  position:absolute;
  left:54px;
  top:134px;
  width:15px;
  height:14px;
}
#u11898 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11905 {
  position:absolute;
  left:30px;
  top:155px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11906 {
  position:absolute;
  left:50px;
  top:9px;
  width:179px;
  word-wrap:break-word;
}
#u11907 {
  position:absolute;
  left:30px;
  top:195px;
  width:229px;
  height:40px;
  overflow:hidden;
}
#u11907_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11907_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u11912 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u11913 {
  position:absolute;
  left:50px;
  top:9px;
  width:177px;
  word-wrap:break-word;
}
#u11907_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11907_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11918 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11918_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u11918.mouseOver {
}
#u11919 {
  position:absolute;
  left:50px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
