body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1342px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:1417px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10045 {
  position:absolute;
  left:0px;
  top:102px;
  width:1342px;
  height:1417px;
}
#u10046 {
  position:absolute;
  left:2px;
  top:700px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10047 {
  position:absolute;
  left:284px;
  top:102px;
}
#u10047_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10047_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10048 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:513px;
}
#u10049 {
  position:absolute;
  left:2px;
  top:248px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10050_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:123px;
  height:49px;
}
#u10050 {
  position:absolute;
  left:10px;
  top:10px;
  width:113px;
  height:39px;
  font-size:16px;
  color:#04ADC2;
}
#u10051 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u10052_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:123px;
  height:49px;
}
#u10052 {
  position:absolute;
  left:133px;
  top:10px;
  width:113px;
  height:39px;
  font-size:16px;
}
#u10053 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u10054_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:124px;
  height:12px;
}
#u10054 {
  position:absolute;
  left:10px;
  top:48px;
  width:113px;
  height:1px;
  color:#04ADC2;
}
#u10055 {
  position:absolute;
  left:2px;
  top:-8px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10057_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:92px;
  height:49px;
}
#u10057 {
  position:absolute;
  left:14px;
  top:100px;
  width:82px;
  height:39px;
  font-size:14px;
}
#u10058 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u10059_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:160px;
  height:48px;
}
#u10059 {
  position:absolute;
  left:96px;
  top:100px;
  width:150px;
  height:38px;
  font-size:14px;
}
#u10060 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u10061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u10061 {
  position:absolute;
  left:843px;
  top:100px;
  width:110px;
  height:39px;
  font-size:14px;
}
#u10062 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u10063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10064_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:92px;
  height:49px;
}
#u10064 {
  position:absolute;
  left:291px;
  top:100px;
  width:82px;
  height:39px;
  font-size:14px;
}
#u10065 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u10066_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:160px;
  height:48px;
}
#u10066 {
  position:absolute;
  left:373px;
  top:100px;
  width:150px;
  height:38px;
  font-size:14px;
}
#u10067 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u10068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10069_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:92px;
  height:49px;
}
#u10069 {
  position:absolute;
  left:552px;
  top:100px;
  width:82px;
  height:39px;
  font-size:14px;
}
#u10070 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u10071_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:160px;
  height:48px;
}
#u10071 {
  position:absolute;
  left:634px;
  top:100px;
  width:150px;
  height:38px;
  font-size:14px;
}
#u10072 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u10073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:44px;
  background:inherit;
  background-color:rgba(4, 173, 194, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10074 {
  position:absolute;
  left:10px;
  top:196px;
  width:266px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10075 {
  position:absolute;
  left:2px;
  top:12px;
  width:262px;
  word-wrap:break-word;
}
#u10076_img {
  position:absolute;
  left:-5px;
  top:-10px;
  width:89px;
  height:64px;
}
#u10076 {
  position:absolute;
  left:276px;
  top:196px;
  width:69px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10077 {
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10079 {
  position:absolute;
  left:345px;
  top:196px;
  width:286px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10080 {
  position:absolute;
  left:2px;
  top:12px;
  width:282px;
  word-wrap:break-word;
}
#u10081_img {
  position:absolute;
  left:-5px;
  top:-10px;
  width:93px;
  height:64px;
}
#u10081 {
  position:absolute;
  left:631px;
  top:196px;
  width:73px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10082 {
  position:absolute;
  left:2px;
  top:14px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10084 {
  position:absolute;
  left:704px;
  top:196px;
  width:252px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10085 {
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u10086_img {
  position:absolute;
  left:-5px;
  top:-10px;
  width:84px;
  height:64px;
}
#u10086 {
  position:absolute;
  left:956px;
  top:196px;
  width:64px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10087 {
  position:absolute;
  left:2px;
  top:14px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:46px;
}
#u10088 {
  position:absolute;
  left:631px;
  top:196px;
  width:73px;
  height:46px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u10089 {
  position:absolute;
  left:2px;
  top:15px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:44px;
}
#u10090 {
  position:absolute;
  left:275px;
  top:196px;
  width:75px;
  height:44px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u10091 {
  position:absolute;
  left:2px;
  top:14px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10092 {
  position:absolute;
  left:845px;
  top:170px;
  width:173px;
  height:16px;
}
#u10093 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u10094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10094 {
  position:absolute;
  left:10px;
  top:267px;
  width:92px;
  height:43px;
}
#u10095 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u10096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10096 {
  position:absolute;
  left:191px;
  top:267px;
  width:92px;
  height:43px;
}
#u10097 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u10098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10098 {
  position:absolute;
  left:372px;
  top:267px;
  width:92px;
  height:43px;
}
#u10099 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u10100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10100 {
  position:absolute;
  left:554px;
  top:267px;
  width:92px;
  height:43px;
}
#u10101 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u10102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10102 {
  position:absolute;
  left:735px;
  top:267px;
  width:92px;
  height:43px;
}
#u10103 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u10104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10104 {
  position:absolute;
  left:916px;
  top:267px;
  width:92px;
  height:43px;
}
#u10105 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u10047_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u10047_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10106 {
  position:absolute;
  left:0px;
  top:174px;
  width:1020px;
  height:513px;
}
#u10107 {
  position:absolute;
  left:2px;
  top:248px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10108 {
  position:absolute;
  left:0px;
  top:48px;
  width:1020px;
  height:118px;
}
#u10109 {
  position:absolute;
  left:2px;
  top:51px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u10110 {
  position:absolute;
  left:10px;
  top:0px;
  width:232px;
  height:51px;
  color:#199ED8;
}
#u10111 {
  position:absolute;
  left:2px;
  top:18px;
  width:228px;
  word-wrap:break-word;
}
#u10112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10112 {
  position:absolute;
  left:21px;
  top:73px;
  width:99px;
  height:16px;
}
#u10113 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u10114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u10114 {
  position:absolute;
  left:120px;
  top:70px;
  width:142px;
  height:23px;
  font-size:12px;
  color:#199ED8;
}
#u10115 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u10116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u10116 {
  position:absolute;
  left:21px;
  top:120px;
  width:80px;
  height:23px;
  font-size:12px;
  color:#999999;
}
#u10117 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u10118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10118 {
  position:absolute;
  left:21px;
  top:197px;
  width:57px;
  height:16px;
}
#u10119 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u10120 {
  position:absolute;
  left:0px;
  top:107px;
  width:1020px;
  height:1px;
}
#u10121 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10122 {
  position:absolute;
  left:30px;
  top:105px;
  width:229px;
  height:640px;
}
#u10123 {
  position:absolute;
  left:2px;
  top:312px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:61px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u10125 {
  position:absolute;
  left:30px;
  top:106px;
  width:208px;
  height:61px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u10126 {
  position:absolute;
  left:50px;
  top:24px;
  width:156px;
  word-wrap:break-word;
}
#u10127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u10127 {
  position:absolute;
  left:54px;
  top:134px;
  width:15px;
  height:14px;
}
#u10128 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u10135 {
  position:absolute;
  left:30px;
  top:155px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u10136 {
  position:absolute;
  left:50px;
  top:9px;
  width:179px;
  word-wrap:break-word;
}
#u10137 {
  position:absolute;
  left:30px;
  top:195px;
  width:229px;
  height:40px;
  overflow:hidden;
}
#u10137_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10137_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u10142 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u10143 {
  position:absolute;
  left:50px;
  top:9px;
  width:177px;
  word-wrap:break-word;
}
#u10137_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10137_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u10148 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u10148_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u10148.mouseOver {
}
#u10149 {
  position:absolute;
  left:50px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
