body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1342px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:1417px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10169 {
  position:absolute;
  left:0px;
  top:102px;
  width:1342px;
  height:1417px;
}
#u10170 {
  position:absolute;
  left:2px;
  top:700px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10171 {
  position:absolute;
  left:284px;
  top:102px;
}
#u10171_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10171_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10172 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:513px;
}
#u10173 {
  position:absolute;
  left:2px;
  top:248px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10174_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:123px;
  height:49px;
}
#u10174 {
  position:absolute;
  left:10px;
  top:10px;
  width:113px;
  height:39px;
  font-size:16px;
}
#u10175 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u10176_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:123px;
  height:49px;
}
#u10176 {
  position:absolute;
  left:133px;
  top:10px;
  width:113px;
  height:39px;
  font-size:16px;
  color:#04ADC2;
}
#u10177 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u10178_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:124px;
  height:12px;
}
#u10178 {
  position:absolute;
  left:130px;
  top:48px;
  width:113px;
  height:1px;
  color:#04ADC2;
}
#u10179 {
  position:absolute;
  left:2px;
  top:-8px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u10180 {
  position:absolute;
  left:683px;
  top:93px;
  width:90px;
  height:39px;
  font-size:14px;
}
#u10181 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u10182_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:453px;
  height:49px;
}
#u10182 {
  position:absolute;
  left:230px;
  top:93px;
  width:443px;
  height:39px;
  font-size:14px;
}
#u10183 {
  position:absolute;
  left:2px;
  top:12px;
  width:439px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u10184 {
  position:absolute;
  left:230px;
  top:158px;
  width:99px;
  height:99px;
}
#u10185 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10186 {
  position:absolute;
  left:347px;
  top:172px;
  width:57px;
  height:16px;
}
#u10187 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10188 {
  position:absolute;
  left:347px;
  top:216px;
  width:101px;
  height:16px;
}
#u10189 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u10190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.427450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10190 {
  position:absolute;
  left:0px;
  top:299px;
  width:1020px;
  height:60px;
}
#u10191 {
  position:absolute;
  left:2px;
  top:22px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10192 {
  position:absolute;
  left:10px;
  top:307px;
  width:92px;
  height:43px;
}
#u10193 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u10194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10194 {
  position:absolute;
  left:191px;
  top:307px;
  width:92px;
  height:43px;
}
#u10195 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u10196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10196 {
  position:absolute;
  left:372px;
  top:307px;
  width:92px;
  height:43px;
}
#u10197 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u10198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10198 {
  position:absolute;
  left:554px;
  top:307px;
  width:92px;
  height:43px;
}
#u10199 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u10200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10200 {
  position:absolute;
  left:735px;
  top:307px;
  width:92px;
  height:43px;
}
#u10201 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u10202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10202 {
  position:absolute;
  left:916px;
  top:307px;
  width:92px;
  height:43px;
}
#u10203 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u10171_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u10171_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10204 {
  position:absolute;
  left:0px;
  top:174px;
  width:1020px;
  height:513px;
}
#u10205 {
  position:absolute;
  left:2px;
  top:248px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10206 {
  position:absolute;
  left:0px;
  top:48px;
  width:1020px;
  height:118px;
}
#u10207 {
  position:absolute;
  left:2px;
  top:51px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u10208 {
  position:absolute;
  left:10px;
  top:0px;
  width:232px;
  height:51px;
  color:#199ED8;
}
#u10209 {
  position:absolute;
  left:2px;
  top:18px;
  width:228px;
  word-wrap:break-word;
}
#u10210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10210 {
  position:absolute;
  left:21px;
  top:73px;
  width:99px;
  height:16px;
}
#u10211 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u10212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u10212 {
  position:absolute;
  left:120px;
  top:70px;
  width:142px;
  height:23px;
  font-size:12px;
  color:#199ED8;
}
#u10213 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u10214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u10214 {
  position:absolute;
  left:21px;
  top:120px;
  width:80px;
  height:23px;
  font-size:12px;
  color:#999999;
}
#u10215 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u10216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10216 {
  position:absolute;
  left:21px;
  top:197px;
  width:57px;
  height:16px;
}
#u10217 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u10218 {
  position:absolute;
  left:0px;
  top:107px;
  width:1020px;
  height:1px;
}
#u10219 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10220 {
  position:absolute;
  left:30px;
  top:105px;
  width:229px;
  height:640px;
}
#u10221 {
  position:absolute;
  left:2px;
  top:312px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:61px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u10223 {
  position:absolute;
  left:30px;
  top:106px;
  width:208px;
  height:61px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u10224 {
  position:absolute;
  left:50px;
  top:24px;
  width:156px;
  word-wrap:break-word;
}
#u10225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u10225 {
  position:absolute;
  left:54px;
  top:134px;
  width:15px;
  height:14px;
}
#u10226 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10230 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u10233 {
  position:absolute;
  left:30px;
  top:155px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u10234 {
  position:absolute;
  left:50px;
  top:9px;
  width:179px;
  word-wrap:break-word;
}
#u10235 {
  position:absolute;
  left:30px;
  top:195px;
  width:229px;
  height:40px;
  overflow:hidden;
}
#u10235_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10235_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10239 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u10240 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u10241 {
  position:absolute;
  left:50px;
  top:9px;
  width:177px;
  word-wrap:break-word;
}
#u10235_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10235_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u10246 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u10246_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u10246.mouseOver {
}
#u10247 {
  position:absolute;
  left:50px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
