body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1342px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:1417px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12691 {
  position:absolute;
  left:0px;
  top:102px;
  width:1342px;
  height:1417px;
}
#u12692 {
  position:absolute;
  left:2px;
  top:700px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12693 {
  position:absolute;
  left:284px;
  top:102px;
}
#u12693_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12693_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:531px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12694 {
  position:absolute;
  left:0px;
  top:108px;
  width:1020px;
  height:531px;
}
#u12695 {
  position:absolute;
  left:2px;
  top:258px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12696 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:118px;
}
#u12697 {
  position:absolute;
  left:2px;
  top:51px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12698 {
  position:absolute;
  left:10px;
  top:126px;
  width:1001px;
  height:50px;
}
#u12699 {
  position:absolute;
  left:2px;
  top:17px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12700 {
  position:absolute;
  left:39px;
  top:143px;
  width:43px;
  height:16px;
}
#u12701 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12702 {
  position:absolute;
  left:249px;
  top:143px;
  width:57px;
  height:16px;
}
#u12703 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12704 {
  position:absolute;
  left:473px;
  top:143px;
  width:57px;
  height:16px;
}
#u12705 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12706 {
  position:absolute;
  left:696px;
  top:143px;
  width:57px;
  height:16px;
}
#u12707 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12708 {
  position:absolute;
  left:920px;
  top:143px;
  width:29px;
  height:16px;
}
#u12709 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12693_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12693_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12710 {
  position:absolute;
  left:0px;
  top:174px;
  width:1020px;
  height:513px;
}
#u12711 {
  position:absolute;
  left:2px;
  top:248px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12712 {
  position:absolute;
  left:0px;
  top:48px;
  width:1020px;
  height:118px;
}
#u12713 {
  position:absolute;
  left:2px;
  top:51px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u12714 {
  position:absolute;
  left:10px;
  top:0px;
  width:232px;
  height:51px;
  color:#199ED8;
}
#u12715 {
  position:absolute;
  left:2px;
  top:18px;
  width:228px;
  word-wrap:break-word;
}
#u12716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12716 {
  position:absolute;
  left:21px;
  top:73px;
  width:99px;
  height:16px;
}
#u12717 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u12718 {
  position:absolute;
  left:120px;
  top:70px;
  width:142px;
  height:23px;
  font-size:12px;
  color:#199ED8;
}
#u12719 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u12720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12720 {
  position:absolute;
  left:21px;
  top:120px;
  width:80px;
  height:23px;
  font-size:12px;
  color:#999999;
}
#u12721 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u12722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12722 {
  position:absolute;
  left:21px;
  top:197px;
  width:57px;
  height:16px;
}
#u12723 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u12724 {
  position:absolute;
  left:0px;
  top:107px;
  width:1020px;
  height:1px;
}
#u12725 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12726 {
  position:absolute;
  left:30px;
  top:105px;
  width:229px;
  height:640px;
}
#u12727 {
  position:absolute;
  left:2px;
  top:312px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:61px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u12729 {
  position:absolute;
  left:30px;
  top:106px;
  width:208px;
  height:61px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u12730 {
  position:absolute;
  left:50px;
  top:24px;
  width:156px;
  word-wrap:break-word;
}
#u12731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u12731 {
  position:absolute;
  left:54px;
  top:134px;
  width:15px;
  height:14px;
}
#u12732 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12733 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12735 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12736 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12737 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12738 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12739 {
  position:absolute;
  left:30px;
  top:155px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12740 {
  position:absolute;
  left:50px;
  top:9px;
  width:179px;
  word-wrap:break-word;
}
#u12741 {
  position:absolute;
  left:30px;
  top:195px;
  width:229px;
  height:40px;
  overflow:hidden;
}
#u12741_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12741_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12744 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12745 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u12746 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u12747 {
  position:absolute;
  left:50px;
  top:9px;
  width:177px;
  word-wrap:break-word;
}
#u12741_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12741_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12749 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12750 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12751 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12752 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12752_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12752.mouseOver {
}
#u12753 {
  position:absolute;
  left:50px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
