body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1342px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:1417px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12348 {
  position:absolute;
  left:0px;
  top:102px;
  width:1342px;
  height:1417px;
}
#u12349 {
  position:absolute;
  left:2px;
  top:700px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12350 {
  position:absolute;
  left:284px;
  top:102px;
}
#u12350_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12350_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:690px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12351 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:690px;
}
#u12352 {
  position:absolute;
  left:2px;
  top:337px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:182px;
}
#u12353 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:182px;
}
#u12354 {
  position:absolute;
  left:2px;
  top:83px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12355 {
  position:absolute;
  left:144px;
  top:17px;
  width:197px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12356 {
  position:absolute;
  left:2px;
  top:12px;
  width:193px;
  word-wrap:break-word;
}
#u12357 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u12358 {
  position:absolute;
  left:171px;
  top:69px;
  width:10px;
  height:10px;
}
#u12359 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12360 {
  position:absolute;
  left:180px;
  top:60px;
  width:155px;
  height:26px;
  font-size:12px;
}
#u12361 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u12362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u12362 {
  position:absolute;
  left:171px;
  top:99px;
  width:10px;
  height:10px;
}
#u12363 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12364 {
  position:absolute;
  left:188px;
  top:90px;
  width:144px;
  height:26px;
  font-size:12px;
}
#u12365 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u12366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u12366 {
  position:absolute;
  left:171px;
  top:129px;
  width:10px;
  height:10px;
}
#u12367 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12368 {
  position:absolute;
  left:180px;
  top:120px;
  width:229px;
  height:26px;
  font-size:12px;
}
#u12369 {
  position:absolute;
  left:2px;
  top:6px;
  width:225px;
  word-wrap:break-word;
}
#u12370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12370 {
  position:absolute;
  left:10px;
  top:176px;
  width:1001px;
  height:60px;
}
#u12371 {
  position:absolute;
  left:2px;
  top:22px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12372 {
  position:absolute;
  left:49px;
  top:198px;
  width:57px;
  height:16px;
}
#u12373 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12374 {
  position:absolute;
  left:238px;
  top:198px;
  width:43px;
  height:16px;
}
#u12375 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12376 {
  position:absolute;
  left:412px;
  top:198px;
  width:57px;
  height:16px;
}
#u12377 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12378 {
  position:absolute;
  left:601px;
  top:198px;
  width:29px;
  height:16px;
}
#u12379 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12380 {
  position:absolute;
  left:761px;
  top:198px;
  width:29px;
  height:16px;
}
#u12381 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12382 {
  position:absolute;
  left:922px;
  top:198px;
  width:29px;
  height:16px;
}
#u12383 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12384 {
  position:absolute;
  left:889px;
  top:129px;
  width:112px;
  height:37px;
}
#u12385 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u12386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12386 {
  position:absolute;
  left:39px;
  top:258px;
  width:78px;
  height:26px;
  font-size:14px;
}
#u12387 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u12388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:55px;
}
#u12388 {
  position:absolute;
  left:233px;
  top:247px;
  width:58px;
  height:55px;
}
#u12389 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12390 {
  position:absolute;
  left:323px;
  top:258px;
  width:264px;
  height:26px;
  font-size:14px;
}
#u12391 {
  position:absolute;
  left:2px;
  top:5px;
  width:260px;
  word-wrap:break-word;
}
#u12392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12392 {
  position:absolute;
  left:601px;
  top:258px;
  width:42px;
  height:26px;
  font-size:14px;
}
#u12393 {
  position:absolute;
  left:2px;
  top:5px;
  width:38px;
  word-wrap:break-word;
}
#u12394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12394 {
  position:absolute;
  left:742px;
  top:258px;
  width:68px;
  height:26px;
  font-size:14px;
}
#u12395 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u12396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#36CBCB;
}
#u12396 {
  position:absolute;
  left:902px;
  top:258px;
  width:69px;
  height:26px;
  font-size:14px;
  color:#36CBCB;
}
#u12397 {
  position:absolute;
  left:2px;
  top:5px;
  width:65px;
  word-wrap:break-word;
}
#u12398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:2px;
}
#u12398 {
  position:absolute;
  left:10px;
  top:318px;
  width:991px;
  height:1px;
}
#u12399 {
  position:absolute;
  left:2px;
  top:-8px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u12400 {
  position:absolute;
  left:362px;
  top:396px;
  width:386px;
  height:150px;
}
#u12401 {
  position:absolute;
  left:10px;
  top:10px;
  width:366px;
  word-wrap:break-word;
}
#u12350_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12350_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12402 {
  position:absolute;
  left:0px;
  top:174px;
  width:1020px;
  height:513px;
}
#u12403 {
  position:absolute;
  left:2px;
  top:248px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12404 {
  position:absolute;
  left:0px;
  top:48px;
  width:1020px;
  height:118px;
}
#u12405 {
  position:absolute;
  left:2px;
  top:51px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u12406 {
  position:absolute;
  left:10px;
  top:0px;
  width:232px;
  height:51px;
  color:#199ED8;
}
#u12407 {
  position:absolute;
  left:2px;
  top:18px;
  width:228px;
  word-wrap:break-word;
}
#u12408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12408 {
  position:absolute;
  left:21px;
  top:73px;
  width:99px;
  height:16px;
}
#u12409 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u12410 {
  position:absolute;
  left:120px;
  top:70px;
  width:142px;
  height:23px;
  font-size:12px;
  color:#199ED8;
}
#u12411 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u12412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12412 {
  position:absolute;
  left:21px;
  top:120px;
  width:80px;
  height:23px;
  font-size:12px;
  color:#999999;
}
#u12413 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u12414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12414 {
  position:absolute;
  left:21px;
  top:197px;
  width:57px;
  height:16px;
}
#u12415 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u12416 {
  position:absolute;
  left:0px;
  top:107px;
  width:1020px;
  height:1px;
}
#u12417 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12418 {
  position:absolute;
  left:30px;
  top:105px;
  width:229px;
  height:640px;
}
#u12419 {
  position:absolute;
  left:2px;
  top:312px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12420 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:61px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u12421 {
  position:absolute;
  left:30px;
  top:106px;
  width:208px;
  height:61px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u12422 {
  position:absolute;
  left:50px;
  top:24px;
  width:156px;
  word-wrap:break-word;
}
#u12423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u12423 {
  position:absolute;
  left:54px;
  top:134px;
  width:15px;
  height:14px;
}
#u12424 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12425 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12426 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12427 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12430 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12431 {
  position:absolute;
  left:30px;
  top:155px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12432 {
  position:absolute;
  left:50px;
  top:9px;
  width:179px;
  word-wrap:break-word;
}
#u12433 {
  position:absolute;
  left:30px;
  top:195px;
  width:229px;
  height:40px;
  overflow:hidden;
}
#u12433_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12433_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12434 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12435 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12436 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12437 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u12438 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u12439 {
  position:absolute;
  left:50px;
  top:9px;
  width:177px;
  word-wrap:break-word;
}
#u12433_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12433_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12440 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12441 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12442 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12443 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12444 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12444_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12444.mouseOver {
}
#u12445 {
  position:absolute;
  left:50px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
