body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1342px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:1417px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12367 {
  position:absolute;
  left:0px;
  top:102px;
  width:1342px;
  height:1417px;
}
#u12368 {
  position:absolute;
  left:2px;
  top:700px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12369 {
  position:absolute;
  left:284px;
  top:102px;
}
#u12369_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12369_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:690px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12370 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:690px;
}
#u12371 {
  position:absolute;
  left:2px;
  top:337px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:182px;
}
#u12372 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:182px;
}
#u12373 {
  position:absolute;
  left:2px;
  top:83px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12374 {
  position:absolute;
  left:144px;
  top:17px;
  width:197px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12375 {
  position:absolute;
  left:2px;
  top:12px;
  width:193px;
  word-wrap:break-word;
}
#u12376 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u12377 {
  position:absolute;
  left:171px;
  top:69px;
  width:10px;
  height:10px;
}
#u12378 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12379 {
  position:absolute;
  left:180px;
  top:60px;
  width:155px;
  height:26px;
  font-size:12px;
}
#u12380 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u12381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u12381 {
  position:absolute;
  left:171px;
  top:99px;
  width:10px;
  height:10px;
}
#u12382 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12383 {
  position:absolute;
  left:188px;
  top:90px;
  width:144px;
  height:26px;
  font-size:12px;
}
#u12384 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u12385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u12385 {
  position:absolute;
  left:171px;
  top:129px;
  width:10px;
  height:10px;
}
#u12386 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12387 {
  position:absolute;
  left:180px;
  top:120px;
  width:229px;
  height:26px;
  font-size:12px;
}
#u12388 {
  position:absolute;
  left:2px;
  top:6px;
  width:225px;
  word-wrap:break-word;
}
#u12389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12389 {
  position:absolute;
  left:10px;
  top:176px;
  width:1001px;
  height:60px;
}
#u12390 {
  position:absolute;
  left:2px;
  top:22px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12391 {
  position:absolute;
  left:49px;
  top:198px;
  width:57px;
  height:16px;
}
#u12392 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12393 {
  position:absolute;
  left:238px;
  top:198px;
  width:43px;
  height:16px;
}
#u12394 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12395 {
  position:absolute;
  left:412px;
  top:198px;
  width:57px;
  height:16px;
}
#u12396 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12397 {
  position:absolute;
  left:601px;
  top:198px;
  width:29px;
  height:16px;
}
#u12398 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12399 {
  position:absolute;
  left:761px;
  top:198px;
  width:29px;
  height:16px;
}
#u12400 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12401 {
  position:absolute;
  left:922px;
  top:198px;
  width:29px;
  height:16px;
}
#u12402 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12403 {
  position:absolute;
  left:889px;
  top:129px;
  width:112px;
  height:37px;
}
#u12404 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u12405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12405 {
  position:absolute;
  left:39px;
  top:258px;
  width:78px;
  height:26px;
  font-size:14px;
}
#u12406 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u12407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:55px;
}
#u12407 {
  position:absolute;
  left:233px;
  top:247px;
  width:58px;
  height:55px;
}
#u12408 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12409 {
  position:absolute;
  left:323px;
  top:258px;
  width:264px;
  height:26px;
  font-size:14px;
}
#u12410 {
  position:absolute;
  left:2px;
  top:5px;
  width:260px;
  word-wrap:break-word;
}
#u12411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12411 {
  position:absolute;
  left:601px;
  top:258px;
  width:42px;
  height:26px;
  font-size:14px;
}
#u12412 {
  position:absolute;
  left:2px;
  top:5px;
  width:38px;
  word-wrap:break-word;
}
#u12413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12413 {
  position:absolute;
  left:742px;
  top:258px;
  width:68px;
  height:26px;
  font-size:14px;
}
#u12414 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u12415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#36CBCB;
}
#u12415 {
  position:absolute;
  left:902px;
  top:258px;
  width:69px;
  height:26px;
  font-size:14px;
  color:#36CBCB;
}
#u12416 {
  position:absolute;
  left:2px;
  top:5px;
  width:65px;
  word-wrap:break-word;
}
#u12417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:2px;
}
#u12417 {
  position:absolute;
  left:10px;
  top:318px;
  width:991px;
  height:1px;
}
#u12418 {
  position:absolute;
  left:2px;
  top:-8px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u12419 {
  position:absolute;
  left:362px;
  top:396px;
  width:386px;
  height:150px;
}
#u12420 {
  position:absolute;
  left:10px;
  top:10px;
  width:366px;
  word-wrap:break-word;
}
#u12369_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12369_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12421 {
  position:absolute;
  left:0px;
  top:174px;
  width:1020px;
  height:513px;
}
#u12422 {
  position:absolute;
  left:2px;
  top:248px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12423 {
  position:absolute;
  left:0px;
  top:48px;
  width:1020px;
  height:118px;
}
#u12424 {
  position:absolute;
  left:2px;
  top:51px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u12425 {
  position:absolute;
  left:10px;
  top:0px;
  width:232px;
  height:51px;
  color:#199ED8;
}
#u12426 {
  position:absolute;
  left:2px;
  top:18px;
  width:228px;
  word-wrap:break-word;
}
#u12427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12427 {
  position:absolute;
  left:21px;
  top:73px;
  width:99px;
  height:16px;
}
#u12428 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#199ED8;
}
#u12429 {
  position:absolute;
  left:120px;
  top:70px;
  width:142px;
  height:23px;
  font-size:12px;
  color:#199ED8;
}
#u12430 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u12431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12431 {
  position:absolute;
  left:21px;
  top:120px;
  width:80px;
  height:23px;
  font-size:12px;
  color:#999999;
}
#u12432 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u12433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12433 {
  position:absolute;
  left:21px;
  top:197px;
  width:57px;
  height:16px;
}
#u12434 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u12435 {
  position:absolute;
  left:0px;
  top:107px;
  width:1020px;
  height:1px;
}
#u12436 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12437 {
  position:absolute;
  left:30px;
  top:105px;
  width:229px;
  height:640px;
}
#u12438 {
  position:absolute;
  left:2px;
  top:312px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12439 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:61px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u12440 {
  position:absolute;
  left:30px;
  top:106px;
  width:208px;
  height:61px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u12441 {
  position:absolute;
  left:50px;
  top:24px;
  width:156px;
  word-wrap:break-word;
}
#u12442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u12442 {
  position:absolute;
  left:54px;
  top:134px;
  width:15px;
  height:14px;
}
#u12443 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12444 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12445 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12446 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12447 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12450 {
  position:absolute;
  left:30px;
  top:155px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12451 {
  position:absolute;
  left:50px;
  top:9px;
  width:179px;
  word-wrap:break-word;
}
#u12452 {
  position:absolute;
  left:30px;
  top:195px;
  width:229px;
  height:40px;
  overflow:hidden;
}
#u12452_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12452_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12453 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12455 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12456 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u12457 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:22px;
}
#u12458 {
  position:absolute;
  left:50px;
  top:9px;
  width:177px;
  word-wrap:break-word;
}
#u12452_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12452_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12459 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12460 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12461 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12462 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12463 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12463_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u12463.mouseOver {
}
#u12464 {
  position:absolute;
  left:50px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
